@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.bg {
    background: url('https://images.pexels.com/photos/19460854/pexels-photo-19460854/free-photo-of-people-working-in-a-field-during-a-foggy-weather.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-transform: uppercase;

}

.loading-text {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}